* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: green;
}
.container-carta {
    /* posicion */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* caja */
    height: 100%;
    width: 100%;
}
.carta {
    /* posicion */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* caja */
    width: 15em;
    height: 20em;
    /* estilo */
    border: 1px solid black;
    border-radius: 1.5em;
    background-color: white;
}
.tipo-carta {
    /* posicion */
    position: absolute;
    /* caja */
    width: 4em;
    height: 4em;
    /* estilos */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4em;
}
.tipo-carta--superior {
    top: 1em;
    left: 1em;
}
.tipo-carta--inferior {
    bottom: 1em;
    right: 1em;
}
.tipo--trebol {
    background-image: URL('https://cdn-icons-png.flaticon.com/512/105/105219.png');
}
.tipo--corazon {
    background-image: URL('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png');
}
.tipo--diamante {
    background-image: URL('https://images.emojiterra.com/google/android-nougat/512px/2666.png');
}
.tipo--pica {
    background-image: URL('https://images.emojiterra.com/openmoji/v13.1/512px/2660.png');
}
.numero-carta {
    font-size: 3rem;
    font-weight: bold;
}
.menu-opciones {
    display: flex;
}
.sobrepuestos {
    display: flex;
    flex-flow: column nowrap;
}
label {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}
input[type="range"] + .range-indicadores {
    display: flex;
    justify-content: space-between;
}